<section class="bg-img position-relative" [ngStyle]="{'height.px': divheight}">
    <div class="container-fluid">
      
            <img src="assets/sun.png" width="6%" class="position-absolute img1 move">

            <img src="assets/sun (1).png" width="6%" class="position-absolute img2 move">
     
            <img src="assets/triangle.png"  class="position-absolute img7 move">
            <img src="assets/rain.png" width="6%" class="position-absolute img3 move">
            <img src="assets/cloud.png" width="6%" class="position-absolute img4 move">
            <img src="assets/bolt.png" width="6%" class="position-absolute img5 move">
            <img src="assets/water.png" width="3%" class="position-absolute img6 move">
            
            <img src="assets/triangle.png"  class="position-absolute img8 move">
      
     <div class ="position-absolute text-center" style="top:50%;left:50%;transform: translate(-50%,-50%);">
     <h1 class="font font-weight-bold">WELCOME TO WEATHER APP</h1>
     <button class="btn btn-start" routerLink="/home">START</button>
     </div>
    </div>
</section>
